# What is Python?

Python is a popular and powerful programming language used to create:

Websites üåê

Games üéÆ

Apps üì±

Automation scripts ü§ñ

Data analysis & AI ü§Ø

## Why Learn Python?

üß† Easy to Learn-------	Like reading English
üíª Free & Open Source-----	Anyone can use it
üìö Huge Library Support------	Tools for almost everything
üåé Used Everywhere-------	Web, data, robots, AI, apps and games

##  Python Is:

Interpreted: Runs line by line (no need to compile)

High-Level: Close to English

Object-Oriented: Helps write clean, reusable code

Portable: Runs on Windows, Mac, Linux, etc.

# What Can Python Do?

Web Development	(Django, Flask)

Data Science	(Pandas, NumPy, Matplotlib)

Artificial Intelligence	(TensorFlow, Scikit-learn)

Automation	(Auto emails, file handling)

Game Development	(Pygame)

In [43]:
# python ---first program/
print("hello world")
# print() is a built-in function used to output text or values.
# for comments:
# Python is case-sensitive: Print ‚â† print

hello world

#Variable

A variable is a name that refers to a value stored in memory.

In [44]:
name = "Tanu"
age = 25

Variable Naming Limitations

In [45]:
# must begin with a letter (a-z and A-Z)
name="tanu sharma "
print(name)
# name is a variable

tanu sharma

In [46]:
# must begin with an underscore(_)
_name="seenu"
print(_name)
# _name is a variable

seenu

In [47]:
# Case-sensitive(name=!Name)
age="45"
print(age)
Age="89"
print(Age)

45
89

# Invaild variable

In [ ]:
# canot use keyword (like if,while,class,def)
def=5

# it's give a errot----SyntaxError: invalid syntax

SyntaxError: invalid syntax (3548756882.py, line 2)

In [ ]:
# can't start with digit
2user="wrong"

SyntaxError: invalid decimal literal (1852552987.py, line 2)

In [13]:
# hyphen is not allowed
user-name="python"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1239360472.py, line 2)

# Data Type

A data type means what kind of value a variable is storing.

In [19]:
# integer(whole number) (int)
x=10
print(x)
print(type(x))
# 10 is int (data type)
# type is bulit in function that tells you the data type of the value or variable

10
<class 'int'>

In [24]:
# float Decimal(floationg point)

y=6.789
print(type(y))
print(y)

<class 'float'>
6.789

In [26]:
# str --string(text )
# represent with qoutes('')("")
insta_id=('tanu_bhardwaj')
print(type(insta_id))
print(insta_id)

<class 'str'>
tanu_bhardwaj

In [30]:
# bool----boolean (true and fasle)
x=5
print(True)

True

Type Conversion / Casting

In [ ]:
num="67"
num1=78
print(num+num1)

# we can't add int and str directly because python doesn't automatically
# convert between types,----so we must be use casting(Type Conversion )

# TypeError

TypeError: can only concatenate str (not "int") to str

In [32]:
num_str = "123"
converted = int(num_str)
print(converted + 10)

133

In [33]:
salary = 50000
bonus = 9.1
total_income = salary + salary * bonus
print(total_income)

505000.0

In [ ]:
# . Booleans in Control Flow
logged_in = True
is_admin = False

if logged_in and not is_admin:
    print("Welcome, user!")

Welcome, user!

In [40]:
x=7.8

if isinstance(x, float):
    print("It's a float!")

It's a float!

In [42]:
# . String Formatting /f string

name = "Tanu"
marks = 92.5

print(f"{name} scored {marks:.2f}% in Python.")

Tanu scored 92.50% in Python.